html,body,div{
    margin: 0px;
    padding: 0px;
}
.myself{
    user-select: none;
}
#relateweb{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}
.myname{
    position: relative;
    font-size: 26px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-weight: 400;
    line-height: 40px;
}
.myrelateweb{
    width: 30px;
}
body,html{
    height: 100%;
    width: 100%;
}
.backimage{
    width: 100%;
}
.background{
    z-index: 0;
}
body{
    background-color: #E6E6E6;
}
.thingstoshow{
    width: 98%;
    height: 100%;
    position: absolute;
    left:1%;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.myself{
    z-index: 1;
    background-color: #ffffff;
    width: 25%;
    border-radius: 10px;
    text-align:center;
}
.content{
    z-index: 1;
    background-color: #ffffff;
    width:62%;
    height: 100%;
    border-radius: 10px;
}
.guidebar{
    margin-right: 3%;
    z-index: 1;
    width: 7%;
    height:80% ;
    background-color: #ffffff;
    border-radius: 10px;
}
.myhead{
    position: relative;
    top: 20px;
    width: 50%;
    border-radius: 25%
}
